* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f5f4;
}

.header-cont {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header-cont input {
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  width: 80%;
}

.header-cont button {
  padding: 12px 16px;
  border: none;
  border-radius: 6px;
  background-color: #1a1a1a;
  color: #fff;
  font-weight: 500;
  width: 20%;
}

.header-cont button:hover {
  cursor: pointer;
  opacity: 0.9;
  transform: translateX(0.5px) translateY(0.5px);
}

.listBody {
  width: 100%;
  padding: 20px;
  /* display: flex;
  flex-direction: column;
  gap: 12px; */
}

.listItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 16px 24px;
  border-radius: 12px;
  margin-bottom: 12px;
}

.listItem:nth-last-child(1) {
  margin-bottom: 0;
}

.listItem:hover {
  cursor: pointer;
  border: 1px solid #1a1a1a;
}

.listItem p {
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.listItem button {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  background-color: #1a1a1a;
  color: #fff;
  font-weight: 500;
}

.listItem button:hover {
  cursor: pointer;
  background-color: red;
}